.banner {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 500px; /* Ensures the banner takes up the full height of the viewport */
    text-align: center; /* Centers text within its container */
    background-image: url("channels4_banner.jpg"); /*temporary image*/
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}














body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

nav .logo h1 {
    margin: 0;
}

nav .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav .nav-links a:hover {
    color: #ddd;
}

.content {
    padding: 20px;
}

section {
    margin-bottom: 50px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    /*position: fixed;*/
    width: 100%;
    bottom: 0;
}
