            @font-face {
                font-family: 'Monocraft';
                src: url('https://github.com/IdreesInc/Monocraft/releases/download/v4.0/Monocraft.ttc') format('truetype-collection');
                font-weight: normal;
                font-style: normal;
            }

.banner {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 500px; /* Ensures the banner takes up the full height of the viewport */
    text-align: center; /* Centers text within its container */
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden; /* Ensures the video stays within the container */
}

.stuff section {
    background-color: rgba(11, 11, 11, 0.3);
    padding: 10px;
    text-align: right;
}

.stuff section h2 {
    text-align: left;
}

#background-video {
    top: -10px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 550px;
    object-fit: cover;
    z-index: -1;
    pointer-events: none; /* Allows interactions with content on top */
    filter: blur(5px); /* Adjust the value for the desired blur effect */
}

.banner section {
    position: relative;
    z-index: 1; /* Ensures the content appears above the video */
}






p, h1, h2, h3, h4, h5, h6 {
    font-family: Monocraft;
    color: white;
}




body {
    font-family: Monocraft;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
}

nav {
    background-color: rgba(11, 11, 11, 0.6);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
}

nav .logo h1 {
    margin: 0;
}

nav .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav .nav-links a:hover {
    color: #ddd;
}

.content {
    padding: 0px;
}

section {
    margin-bottom: 50px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    /*position: fixed;*/
    width: 100%;
    bottom: 0;
}

.stuff {
    padding: 0px;
}

.server-description p {
    max-width: 550px; /* Adjust this value to your desired width */
    padding: 10px; /* Adds some padding around the text */
    word-wrap: break-word; /* Ensures text wraps within the specified width */
}
